<pre>partials/projects-detail.html</pre>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <!--Body content-->
	  ProjectId: <input ng-model="projectId">
	  <pre>{{project}}</pre>
	  <pre>{{project._id}}</pre>
	  <pre>{{project.name}}</pre>
	  <pre>{{project.cognome}}</pre>
	  
	  <div >
			<form novalidate class="simple-form">
				Name: <input type="text" ng-model="project.name" /><br />
				Cognome: <input type="text" ng-model="project.cognome" /><br />
				<button ng-click="reset()">RESET</button>
				<button ng-click="save(project)">SAVE</button>
			</form>
			<pre>projects = {{projects}}</pre>
		</div>

    </div>
  </div>
</div>